---
description: Linking your phone number allows you to interact with WayScript via text.
---

# Phone Number Verification

## How to Find

1. When you first drag in a module that requires a linked phone number \(Text Message, [Text Message Trigger](../program-components/triggers/text-message-trigger.md)\). You will be prompted to verify your phone number. 
2. Use the Account Dropdown in the Navbar to and select 'Update Contact Info'.

![](../.gitbook/assets/screen-shot-2019-07-15-at-3.45.08-pm.png)

## Verification Process

First, enter your number in the "Provide a Phone Number" dialog when prompted.

![](../.gitbook/assets/screen-shot-2019-07-15-at-3.52.17-pm.png)



Next, in the "Verify Your Phone Number" dialog, click "Send Code" to receive a one-time verification code via text message. \(Standard text messaging rates apply\).

![](../.gitbook/assets/screen-shot-2019-07-15-at-3.54.35-pm.png)

Last, once you receive the code, enter it in the "Verify Your Phone Number" dialog and click "Verify".

![](../.gitbook/assets/screen-shot-2019-07-15-at-3.59.06-pm.png)

{% hint style="info" %}
You can update this number later from 'Update Contact Info' as shown above.
{% endhint %}

