---
description: Linking your phone number allows you to interact with WayScript via text.
---

# Phone Number Verification

## 📱 Adding a Phone Number

1. When you first drag in a module that requires a linked phone number \([Text Message](../library/modules/text-message.md), [Text Message Trigger](../library/triggers/text-message-trigger.md)\). You will be prompted to verify your phone number. 
2. Use the Account Dropdown in the navigation bar to and select [Update Contact Info](https://wayscript.com/auth/update-contact-info).

![](../.gitbook/assets/screen-shot-2019-07-17-at-12.23.23-pm.png)

## ✅ Verification Process

First, enter your number in the "Provide a Phone Number" dialog when prompted.

![](../.gitbook/assets/screen-shot-2019-07-15-at-3.52.17-pm.png)

Next, in the "Verify Your Phone Number" dialog, click "Send Code" to receive a one-time verification code via text message. \(Standard text messaging rates apply\).

![](../.gitbook/assets/screen-shot-2019-07-15-at-3.54.35-pm.png)

Once you receive the code, enter it in the "Verify Your Phone Number" dialog and click "Verify".

{% hint style="success" %}
You can optionally [enable two-factor authentication](two-factor-authentication.md#enabling-two-factor-authentication) on your account in this step.
{% endhint %}

![](../.gitbook/assets/screen-shot-2019-07-25-at-2.45.13-pm.png)

{% hint style="info" %}
You can update this number later from 'Update Contact Info' as shown above.
{% endhint %}

